.terminal-container {
    background-color: black;
    height: 99vh;
    width: 100vw;
    padding-top: 1vh;
    color: green;
    overflow: scroll;
    overflow-x: hidden;
}

.command {
    background-color: black;
    margin:0;
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

.command.input {
    height: 100%;
}
.command.input:hover{
    cursor: text;
}
input {
    width: 0;
    background-color: black;
    border: none;
    border-color: black;
    color: transparent;
    caret-color: black;
}
input:focus {
    outline: none;
}
.cursor {
    opacity: 1;
}
.opaque {
    opacity: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.bordered {
    border: 1px solid white;
}
